<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!--设定页面使用的字符集-->
    <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no"><!--添加响应式的视图标签-->
    <title>网页1.0</title>
    <link rel="stylesheet" href="../static/bootstrap-4.2.1-dist/css/bootstrap.css"><!--引入bootstrap基本样式-->
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/popper.js"></script>
	
    <script src="../static/bootstrap-4.2.1-dist/js/bootstrap.js"></script>
	<link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
    <p>爬虫文章+词云分析</p>

    <div id="Earousel" calss="carousel slide" data-ride="carousel">
        <!--图标-->
        <ol class="carousel-indicators">  <!--carousel-indicators定义轮播指示器包含框-->
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
        </ol>
        <!--幻灯片-->
        <div class="carousel-inner">  <!--carousel-inner类定义轮播指示器包含框-->

            <div calss="carousel-item active">
                <img src="../static/images/first.png" class="d-block w-100" alt="">
                <div class="carousel-caption">
                    <h5>title</h5>
                    <p>instruction</p>
                </div>
            </div>

            <div calss="carousel-item">
                <img src="../static/images/塔顶.jpg" class="d-block w-100" alt="">
                <div class="carousel-caption">
                    <h5>title</h5>
                    <p>instruction</p>
                </div>
            </div>

            <div calss="carousel-item">
                <img src="../static/images/小麦.jpg" class="d-block w-100" alt="">
                <div class="carousel-caption">
                    <h5>title</h5>
                    <p>instruction</p>
                </div>
            </div>
        </div>

        <!--控制按钮-->
        <a class="carousel-control-prev" href="#Earousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#Earousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>


</body>
</html>